<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="<%= baseHref %>/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Brandon Kervin - Software Developer</title>

    <link rel="stylesheet" href="static/index.css" />
  </head>

  <body cz-shortcut-listen="true">
    <div class="web-content">
      <div class="intro-frame">
        <div class="frame-caption">
          <span class="fancy">Hey, I'm</span>
          <span class="double-em"></span>
          &nbsp;Brandon Kervin&nbsp;
          <span class="double-em"></span>
          <span class="fancy">Web Developer</span>
        </div>
      </div>
      <div class="bio-frame bg-1">
        <div class="spacer-2"></div>
        <div class="spacer-8 content-center flex-y bolder">
          <div class="cell">
            <h2 class="fancy lighter">
              <span class="triple-em invert"></span>
              Background
              <span class="triple-em invert"></span>
            </h2>
          </div>
          <div class="cell">Born &amp; raised in Brooklyn Park, Minnesota.</div>
          <div class="cell">
            Started programming at the age of 12. Started learning the web side
            of things when I was 15.
          </div>
          <div class="cell">
            Moved to Minneapolis at the age of 20 to pursue a career in Software
            Development.
          </div>
          <div class="cell">
            Got my first job a few months after moving to Minneapolis as a Java
            Consultant at Magenic.
          </div>
          <div class="cell">
            Moved to Austin, Texas at the age of 22 where most of my focus is
            now UI Development.
          </div>
        </div>
        <div class="spacer-2"></div>
      </div>
      <div class="bio-frame bg-2">
        <div class="spacer-2"></div>
        <div class="spacer-8 content-center flex-y bolder">
          <div class="cell">
            <h2 class="fancy lighter">
              <span class="triple-em invert"></span>
              Interests
              <span class="triple-em invert"></span>
            </h2>
          </div>
          <div class="cell">
            Golfing. Something I tend to spend a lot of time and money on over
            the weekends.
          </div>
          <div class="cell">Exercising &amp; enjoying the outdoors.</div>
          <div class="cell">Playing the guitar.</div>
          <div class="cell">
            Hunting down the best coffee shops and breweries in town!
          </div>
        </div>
        <div class="spacer-2"></div>
      </div>
      <div class="bio-frame bg-3">
        <div class="spacer-2"></div>
        <div class="spacer-8 content-center flex-y bolder">
          <div class="cell">
            <h2 class="fancy lighter">
              <span class="triple-em invert"></span>
              Contact Info
              <span class="triple-em invert"></span>
            </h2>
          </div>
          <div class="cell">Cell Phone:</div>
          <a href="tel:7632188974">(763) 218-8974</a>
          <div class="cell">E-Mail:</div>
          <a href="mailto:brandonkervin@gmail.com">brandonkervin@gmail.com</a>
          <div class="cell">
            <a href="https://linkedin.com/in/b-kervin/">Linkedin</a>
          </div>
          <div class="cell">
            <a href="https://github.com/B-Curve">GitHub</a>
          </div>
          <div class="cell">
            <a href="https://twitter.com/brandonkervin">Twitter</a>
          </div>
          <div class="cell">
            <a href="https://www.instagram.com/brandonkervin/">Instagram</a>
          </div>
          <div class="cell">
            <a href="https://www.facebook.com/brandon.kervin">Facebook</a>
          </div>
        </div>
        <div class="spacer-2"></div>
      </div>
    </div>
  </body>
</html>
